astroid==2.3.3
autopep8==1.5
backcall==0.1.0
blinker==1.4
Click==7.0
colorama==0.4.3
decorator==4.4.1
ez-setup==0.9
Flask==2.2.5
Flask-DebugToolbar==0.11.0
ipython==8.10.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
parso==0.6.1
pickleshare==0.7.5
Pillow==10.2.0
prompt-toolkit==3.0.3
pycodestyle==2.5.0
Pygments==2.15.0
pylint==2.4.4
python-dotenv==0.12.0
PyYAML==5.4
pyzmail==1.0.3
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.8
Werkzeug==2.3.8
wrapt==1.11.2
