<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Survey{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body>
    <h1>Choose which survey you'd like to take!</h1>
      {% block content %}
      <form method="POST">
      <select name="survey_title">
        {% for survey in surveys %}
        <option value="{{survey.title}}">
            {{survey.title}}
        </option>
        {% endfor %}
      </select>
        <button>Start</button>
      </form>
      {% endblock %}
    </div>
  </body>
</html>